:root {
    --fundo: #6495ED;
    --cartao-frente: #00BFFF;
    --cartao-verso: #000;
    --destaque: #ff0000;
    --preto: #000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
}
header{
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

header a{
    color: var(--branco);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color: var(--preto);
    width: 100%;
    text-align: center;

}

#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}

.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    box-shadow: 2px 2px 2px var(--preto);
    border: 1px solid var(--preto);
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}
