:root{
--fundo:#8f3bd3;
--cartao-frente:#4682b4;
--cartao-verso: #000; 
--destaque:#00FFFF;
--preto: #000;
--branco: #ffffff;
 }

 body{ 
    background-color: var(--fundo);
 
}
footer{ 
    position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100;
text-align: center;

}